openapi: 3.1.0
info:
  title: Microsoft Graph API - Microsoft Products
  description: >-
    A subset of Microsoft Graph v1.0 endpoints used to interact with Microsoft
    Office 365 services - Outlook mail, OneDrive files, and Microsoft Teams.
    Microsoft Graph is the unified REST API for Microsoft 365 services and
    uses OAuth 2.0 (Microsoft Entra ID) for authentication.
  version: "1.0"
x-generated-from: https://learn.microsoft.com/en-us/graph/overview
x-generated-by: claude-genwave10-08-2026-05-23
servers:
  - url: https://graph.microsoft.com/v1.0
    description: Microsoft Graph v1.0 production endpoint
security:
  - oauth2: []
tags:
  - name: Mail
  - name: Drive
  - name: Teams
paths:
  /me/messages:
    get:
      tags: [Mail]
      summary: List the signed-in user's messages
      operationId: listMyMessages
      parameters:
        - name: $select
          in: query
          schema: { type: string }
        - name: $top
          in: query
          schema: { type: integer }
        - name: $filter
          in: query
          schema: { type: string }
        - name: $orderby
          in: query
          schema: { type: string }
      responses:
        '200':
          description: A collection of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageCollection'
  /me/messages/{id}:
    get:
      tags: [Mail]
      summary: Get a message by id
      operationId: getMyMessage
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
  /me/sendMail:
    post:
      tags: [Mail]
      summary: Send a mail message as the signed-in user
      operationId: sendMyMail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMailRequest'
      responses:
        '202':
          description: Accepted
  /me/mailFolders:
    get:
      tags: [Mail]
      summary: List mail folders
      operationId: listMyMailFolders
      responses:
        '200':
          description: Collection of mail folders
          content:
            application/json:
              schema: { type: object }
  /me/drive:
    get:
      tags: [Drive]
      summary: Get the signed-in user's OneDrive
      operationId: getMyDrive
      responses:
        '200':
          description: Drive
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Drive' }
  /me/drive/root/children:
    get:
      tags: [Drive]
      summary: List items in the root of the user's drive
      operationId: listMyDriveRootChildren
      responses:
        '200':
          description: Collection of driveItems
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriveItemCollection' }
  /me/drive/items/{item_id}:
    get:
      tags: [Drive]
      summary: Get a driveItem by id
      operationId: getMyDriveItem
      parameters:
        - name: item_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: DriveItem
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriveItem' }
  /me/drive/items/{item_id}/content:
    get:
      tags: [Drive]
      summary: Download a driveItem's content
      operationId: downloadMyDriveItemContent
      parameters:
        - name: item_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Redirect to a pre-authenticated download URL
        '200':
          description: File content
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
    put:
      tags: [Drive]
      summary: Upload content to an existing driveItem
      operationId: uploadMyDriveItemContent
      parameters:
        - name: item_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        '200':
          description: Updated driveItem
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriveItem' }
  /me/joinedTeams:
    get:
      tags: [Teams]
      summary: List teams the signed-in user is a member of
      operationId: listMyJoinedTeams
      responses:
        '200':
          description: Collection of teams
          content:
            application/json:
              schema: { type: object }
  /teams/{team_id}:
    get:
      tags: [Teams]
      summary: Get a team by id
      operationId: getTeam
      parameters:
        - name: team_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Team
          content:
            application/json:
              schema: { type: object }
  /teams/{team_id}/channels:
    get:
      tags: [Teams]
      summary: List channels in a team
      operationId: listTeamChannels
      parameters:
        - name: team_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Collection of channels
          content:
            application/json:
              schema: { type: object }
    post:
      tags: [Teams]
      summary: Create a channel in a team
      operationId: createTeamChannel
      parameters:
        - name: team_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '201':
          description: Created channel
          content:
            application/json:
              schema: { type: object }
  /teams/{team_id}/channels/{channel_id}/messages:
    get:
      tags: [Teams]
      summary: List chat messages in a channel
      operationId: listChannelMessages
      parameters:
        - name: team_id
          in: path
          required: true
          schema: { type: string }
        - name: channel_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Collection of chatMessages
          content:
            application/json:
              schema: { type: object }
    post:
      tags: [Teams]
      summary: Send a chat message to a channel
      operationId: sendChannelMessage
      parameters:
        - name: team_id
          in: path
          required: true
          schema: { type: string }
        - name: channel_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '201':
          description: Created chatMessage
          content:
            application/json:
              schema: { type: object }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >-
        Microsoft Entra ID (Azure AD) OAuth 2.0. Use the authorization code,
        client credentials, or device code flow depending on the scenario.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            "Mail.Read": Read user mail
            "Mail.Send": Send mail as user
            "Files.Read": Read user files
            "Files.ReadWrite": Read and write user files
            "Team.ReadBasic.All": Read basic team info
            "ChannelMessage.Send": Send channel messages
            "User.Read": Sign in and read user profile
  schemas:
    Message:
      type: object
      properties:
        id: { type: string }
        subject: { type: string }
        bodyPreview: { type: string }
        from:
          type: object
          properties:
            emailAddress:
              type: object
              properties:
                name: { type: string }
                address: { type: string }
        toRecipients:
          type: array
          items: { type: object }
        receivedDateTime: { type: string, format: date-time }
    MessageCollection:
      type: object
      properties:
        "@odata.context": { type: string }
        value:
          type: array
          items: { $ref: '#/components/schemas/Message' }
    SendMailRequest:
      type: object
      required: [message]
      properties:
        message:
          type: object
          properties:
            subject: { type: string }
            body:
              type: object
              properties:
                contentType: { type: string, enum: [Text, HTML] }
                content: { type: string }
            toRecipients:
              type: array
              items:
                type: object
                properties:
                  emailAddress:
                    type: object
                    properties:
                      address: { type: string }
        saveToSentItems: { type: boolean }
    Drive:
      type: object
      properties:
        id: { type: string }
        driveType: { type: string }
        owner: { type: object }
        quota: { type: object }
    DriveItem:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        size: { type: integer }
        file: { type: object }
        folder: { type: object }
        createdDateTime: { type: string, format: date-time }
        lastModifiedDateTime: { type: string, format: date-time }
    DriveItemCollection:
      type: object
      properties:
        value:
          type: array
          items: { $ref: '#/components/schemas/DriveItem' }
